.list {
  margin: 0 auto;
  width: 520px;
  margin-top: 48px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.listItem {
  background-color: #fff;
  width: 96px;
  padding: 16px 8px;
  border: 2px solid #000;
  border-radius: 8px;
}
